In [1]:
import pandas as pd
from classes import *
from config import token

In [2]:
grade_book = GradeBook(token)

df = pd.DataFrame(grade_book.get_student_score(188376, 62475, 944335224),
                  columns = ['step_id', "score"])
df

     step_id  score
0    4818237    0.0
1    4818238    0.0
2    4818239    0.0
3    4818266    0.0
4    4818267    0.0
..       ...    ...
350  5450928    0.0
351  5450929    0.0
352  5596847    0.0
353  5596849    0.0
354  5596850    0.0

[355 rows x 2 columns]