In [1]:
import pandas as pd
from classes import *
from config import token

In [2]:
url = 'https://stepik.org/api/classes/62475'

#  Тесты для класса
stepic_class = Class(url, token)
print(f'class id: {stepic_class.get_class_id()}')
print(f'id course: {stepic_class.get_id_course()}')
print(f'owner id: {stepic_class.get_owner()}')
print(f'title: {stepic_class.get_title()}')
print(f'units id: {stepic_class.get_students_count()}')

class id: 62475
id course: 188376
owner id: 40761646
title: 2024_3415_Рязань
units id: 12

In [3]:
df = pd.DataFrame([['class id:', stepic_class.get_class_id()],
                  ['id course:', stepic_class.get_id_course()],
                  ['title:', stepic_class.get_title()],
                  ['units id:', stepic_class.get_students_count()],
                  ['owner id:', stepic_class.get_owner()]],
                  columns = ['name', 'value'])
df

         name             value
0   class id:             62475
1  id course:            188376
2      title:  2024_3415_Рязань
3   units id:                12
4   owner id:          40761646

In [4]:
url = 'https://stepik.org/api/classes/62475'

#  Тесты для курса
stepic_course = Course(stepic_class.get_id_course(), token)
print(f'sections: {stepic_course.get_sections()}')
print(f'title: {stepic_course.get_title()}')

sections: [365061, 365062, 365713, 371384, 389712, 371385, 371386, 371387, 371388, 371389, 388364]
title: Простой python: том 1, основы

In [5]:
df = pd.DataFrame([stepic_course.get_title()] + stepic_course.get_sections(), columns = [stepic_class.get_id_course()])
df

                           188376
0   Простой python: том 1, основы
1                          365061
2                          365062
3                          365713
4                          371384
5                          389712
6                          371385
7                          371386
8                          371387
9                          371388
10                         371389
11                         388364

In [6]:
url = 'https://stepik.org/api/classes/62475'

#  Тесты для модулей
stepic_module = Module(token)
print(f'units id: {stepic_module.get_units_from_section('365061')}')
print(f'lessons id: {stepic_module.get_lessons_from_section('365061')}')
print(f'module title: {stepic_module.get_module_title('365061')}')

units id: [1151729, 1151730]
lessons id: [1140054, 1140055]
module title: Введение

In [7]:
print(*stepic_module.get_units_from_section('365061'))
df = pd.DataFrame([['units id:', *stepic_module.get_units_from_section('365061')],
                  ['lessons id:', *stepic_module.get_lessons_from_section('365061')],
                  ['module title:', stepic_module.get_module_title('365061'), None]],
                  columns = ['name', *['value' + str(i) for i in range(len(stepic_module.get_lessons_from_section('365061')))]])
df

1151729 1151730

            name    value0     value1
0      units id:   1151729  1151730.0
1    lessons id:   1140054  1140055.0
2  module title:  Введение        NaN

In [8]:
url = 'https://stepik.org/api/classes/62475'

#  Тесты для уроков
stepic_lesson = Lesson(token)
print(f'steps_in_lesson: {stepic_lesson.get_steps_in_lesson('1140055')}')

steps_in_lesson: [4728621, 4818292, 4818293, 4818294]

In [9]:
df = pd.DataFrame(stepic_lesson.get_steps_in_lesson('1140055'),
                  columns = ['steps_in_lesson'])
df

   steps_in_lesson
0          4728621
1          4818292
2          4818293
3          4818294

In [10]:
url = 'https://stepik.org/api/classes/62475'

#  Тесты для шагов
stepic_step = Step(token)
print(f'steps_in_lesson: {stepic_step.get_name_in_step('4728621')}')
print(f'steps_in_lesson: {stepic_step.get_text_in_step('4728621')}')

steps_in_lesson: text
steps_in_lesson: <h2>Что надо установить</h2>

<p>Ничего. Основной курс можно пройти в браузере.</p>

<p>Игры - дополнительный материал - удобнее писать в IDE. Обратитесь к этому разделу, когда соберетесь разрабатывать игры.</p>