In [1]:
import pandas as pd
from classes import *
from config import token

In [2]:
url = 'https://stepik.org/api/classes/62475'

#  Тесты для класса
stepic_class = Class(url, token)

df = pd.DataFrame([['class id:', stepic_class.get_class_id()],
                  ['id course:', stepic_class.get_id_course()],
                  ['title:', stepic_class.get_title()],
                  ['units id:', stepic_class.get_students_count()],
                  ['owner id:', stepic_class.get_owner()]],
                  columns = ['name', 'value'])
df

         name             value
0   class id:             62475
1  id course:            188376
2      title:  2024_3415_Рязань
3   units id:                12
4   owner id:          40761646

In [3]:
url = 'https://stepik.org/api/classes/62475'

#  Тесты для курса
stepic_course = Course(stepic_class.get_id_course(), token)

df = pd.DataFrame([stepic_course.get_title()] + stepic_course.get_sections(), columns = [stepic_class.get_id_course()])
df

                           188376
0   Простой python: том 1, основы
1                          365061
2                          365062
3                          365713
4                          371384
5                          389712
6                          371385
7                          371386
8                          371387
9                          371388
10                         371389
11                         388364

In [4]:
url = 'https://stepik.org/api/classes/62475'

#  Тесты для модулей
stepic_module = Module(token, '365061')
print(f'units id: {stepic_module.get_units_from_section()}')
print(f'lessons id: {stepic_module.get_lessons_from_section()}')
print(f'module title: {stepic_module.get_module_title()}')

units id: [1151729, 1151730]
lessons id: {1151729: 1140054, 1151730: 1140055}
module title: Введение

In [5]:
#  Тесты для уроков
stepic_lesson = Lesson(token, '1140055')

df = pd.DataFrame(stepic_lesson.get_steps_in_lesson(),
                  columns = ['steps_in_lesson'])
df

   steps_in_lesson
0          4728621
1          4818292
2          4818293
3          4818294

In [6]:
url = 'https://stepik.org/api/classes/62475'

#  Тесты для шагов
stepic_step = Step(token, '4728621')
print(f'steps_in_lesson: {stepic_step.get_name_in_step()}')

steps_in_lesson: text