In [1]:
import pandas as pd
from classesAPI import *
from config import token
from pprint import pprint

In [2]:
user = User(token)

user.get_users_info(user_ids=['944335224'])

{944335224: 'Роман Горин'}

In [3]:
st = Students(token, class_id=62475)

students_id = st.get_students()
students_names = User(token)
pprint(students_names.get_users_info(students_id))

{423045693: 'Писецкий Максим',
 540290205: 'Матвей Лоивский',
 609197016: 'avdotia',
 657296889: 'Анастасия Рязанова',
 669328191: 'Станислав Богданов',
 941539964: 'Виктор Колобанов',
 941560677: 'Свистунов Михаил',
 942524568: 'User 942524568',
 944335224: 'Роман Горин',
 959751608: 'Кирилл Колбенев',
 960211959: 'Андрей Козлихин',
 965899465: 'Воронков Артем'}

In [4]:
df = pd.DataFrame(students_id)
df

            0
0   941539964
1   540290205
2   657296889
3   669328191
4   423045693
5   941560677
6   959751608
7   960211959
8   965899465
9   944335224
10  942524568
11  609197016

In [6]:
pr = Parcels(token, class_id=62475)
pprint(pr.get_parcels(step_id=4777656, student_id=944335224))

[{'attempt': 1187302827,
  'eta': 0,
  'feedback': '',
  'hint': '',
  'id': 1273917623,
  'reply': {'ordering': [3, 5, 2, 4, 1, 0]},
  'reply_url': None,
  'score': 1.0,
  'session': None,
  'status': 'correct',
  'time': '2024-09-10T18:54:15Z'},
 {'attempt': 1187302827,
  'eta': 0,
  'feedback': '',
  'hint': '',
  'id': 1273916715,
  'reply': {'ordering': [3, 5, 2, 4, 0, 1]},
  'reply_url': None,
  'score': 0.0,
  'session': None,
  'status': 'wrong',
  'time': '2024-09-10T18:52:50Z'}]