In [1]:
import pandas as pd
from classesAPI import *
from config import token

In [2]:
user = User(token, user_id='944335224')

user.get_user_name()

'Роман Горин'

In [4]:
st = Students(token, class_id=62475)

df = pd.DataFrame(st.get_students_id())
df

            0
0   941539964
1   540290205
2   657296889
3   669328191
4   423045693
5   941560677
6   959751608
7   960211959
8   965899465
9   944335224
10  942524568
11  609197016